body {
  background-color: white;
  margin-top: 150px;
}

.weather-app {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  border: 7px solid rgb(102, 188, 239);
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 10px 20px rgb(178, 178, 178);
}
.weather-app-wrapper {
  max-width: 500px;
  margin: 40px auto;
}

h1 {
  color: rgb(102, 188, 239);
  font-size: 53px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 40px;
  margin-top: 20px;
  font-family: serif;
  text-align: center;
  cursor: grab;
}

.temperature {
  font-size: 70px;
  font-family: serif;
  color: black;
}

.units {
  color: black;
  position: relative;
  font-size: 16px;
  top: -35px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
.overview {
  margin-bottom: 20px;
}

.btn-light {
  width: 100px;
  color: rgb(102, 188, 239);
  font-family: serif;
  font-size: 20px;
  border-color: black;
}
.btn-primary {
  width: 100px;
  color: rgb(102, 188, 239);
  font-family: serif;
  font-size: 20px;
  background-color: white;
  border-color: black;
}
.form-control {
  border-color: black;
  color: rgb(102, 188, 239);
  caret-color: rgb(102, 188, 239);
  transition: none;
}

.form-control:focus {
  border-color: black;
  color: rgb(102, 188, 239);
}
.Weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.Weather-forecast-date {
  font-size: 19px;
  color: rgb(135, 135, 135);
}

.Weather-forecast-temperature {
  font-size: 13px;
  color: rgb(9, 9, 9);
}
.icon {
  text-align: center;
}

.state {
  margin-top: 40px;
}

.App {
  max-width: 600px;
  margin: 30px auto;
}

.App footer {
  font-size: 11px;
  margin: 10px 0;
}
